/examples/node_modules
/react-query
/mcp-server
/bin
/.eslintcache
.DS_Store
**/.speakeasy/temp/
**/.speakeasy/logs/
.DS_Store
/.speakeasy/reports
.env
.env.local
.env.*.local
/models
/sdk/models/errors
/sdk/types
/node_modules
/lib
/sdk
/funcs
/hooks
/index.*
/core.*
/cjs
/esm
/dist
/.tsbuildinfo
/.tshy
/.tshy-*
/__tests__
