# ValidationResult

## Example Usage

```typescript
import { ValidationResult } from "@codat/platform/sdk/models/shared";

let value: ValidationResult = {};
```

## Fields

| Field                                                                   | Type                                                                    | Required                                                                | Description                                                             |
| ----------------------------------------------------------------------- | ----------------------------------------------------------------------- | ----------------------------------------------------------------------- | ----------------------------------------------------------------------- |
| `errors`                                                                | [shared.ValidationItem](../../../sdk/models/shared/validationitem.md)[] | :heavy_minus_sign:                                                      | N/A                                                                     |
| `warnings`                                                              | [shared.ValidationItem](../../../sdk/models/shared/validationitem.md)[] | :heavy_minus_sign:                                                      | N/A                                                                     |