/react-query
/mcp-server
/bin
/.eslintcache
.DS_Store
**/.speakeasy/temp/
**/.speakeasy/logs/
.DS_Store
/.speakeasy/reports
/funcs
/core.*
/__tests__
/models
/sdk/models/errors
/sdk/types
/node_modules
/lib
/sdk
/hooks
/index.*
/cjs
/esm
/dist
/.tsbuildinfo
/.tshy
/.tshy-*
dist/
node_modules/
